{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="pokemonSearch">
		{{form(form)}}
	</div>

	<div class="pokemonGrid" id="pokemonGrid">
		{% include 'main/_pokemon_list.html.twig' with { pokemons: pokemons } %}
	</div>

	<div class="my-20 text-center">
		<button id="loadMoreBtn" data-offset="{{ limit }}" class="btn-primary">
			{{ "Load more Pokémon"|trans }}
		</button>
	</div>

	<footer>
		<script>
		document.getElementById('loadMoreBtn').addEventListener('click', async function () {
			const btn = this;
			let offset = parseInt(btn.dataset.offset);

			btn.disabled = true;
			const response = await fetch(`{{ path('load_more', {'_locale': app.request.locale}) }}?offset=${offset}`);
			const html = await response.text();

			    document
				.getElementById('pokemonGrid')
				.insertAdjacentHTML('beforeend', html);

			btn.dataset.offset = offset + 10;
			btn.disabled = false;
		});
		</script>
	</footer>
{% endblock %}
