{% extends 'base.html.twig' %}

{% block title %}Table des types
{% endblock %}

{% block body %}


	<div class="px-120">
		<img class="img" src="{{ asset('images/table.png') }}" alt="">
	</div>

{% endblock %}
