{% extends 'base.html.twig' %}

{% block title %}{{ "Type chart"|trans }}{% endblock %}

{% block body %}


	<div class="container mb-40">
		<img class="img" src="{{ asset('images/table.png') }}" alt="">
	</div>

{% endblock %}
