{% extends 'base.html.twig' %}

{% block title %}Team build
{% endblock %}

{% block body %}


	<div class="px-20">
		<img class="img" src="{{ asset('images/table.png') }}" alt="">
	</div>

{% endblock %}
