.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.gap-10 {
    gap: 10px;
}

.btn-primary {
    padding: 0.6rem 1rem;
    background-color: #30a7d7;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
}

.my-20 {
    margin: 20px 0;
}
.mt-40 {
    margin-top: 40px;
}
.text-center {
    text-align: center;
}