.btn-primary {
    padding: 0.6rem 1rem;
    background-color: #30a7d7;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
}

.mg-y-20 {
    margin: 20px 0;
}
.text-center {
    text-align: center;
}