/* FLEX */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-40{
    gap: 40px;
}

/* MARGIN - PADDING*/
.my-20 {
    margin: 20px 0;
}
.mt-40 {
    margin-top: 40px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}

/* COMPONENTS */
.btn-primary {
    padding: 0.6rem 1rem;
    background-color: #30a7d7;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

/* OTHER */
.text-center {
    text-align: center;
}

.img {
  width: 100%;
  height: auto;
}
.bold {
    font-weight: bold;
}